* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* margin 0, padding 0 = CCS reset */
}
/* Section 1 */
.l-heading {
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1;
    padding: 50px 0px 0px;
    color: #4A4947;
}
.container {
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
    background-color: #D8D2C2;
    }

.py-1 {
    padding: 1.5rem 0;
    }

.text-center {
    text-align: center;
    }

.m-heading {
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1;
    padding: 50px;
    color: #4A4947;
        }

#what .items {
    display: flex;
    padding: 1rem;
    flex: 1
    }

#what .item {
    text-align: center;
    padding: 1rem;
    flex: 1;
    color: #4A4947;
    }

#what .items .item i {
    background-color: #FAF7F0;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    align-self: center;
    line-height: 25px;
    }
/* Section 1 */

/* Nav Bar */
#navbar {
    display: flex;
    background-color: #D8D2C2;
    justify-content: space-between;
    position: sticky;
    padding: 1rem;
    z-index: 1;
}

#navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
    color: white;
}

#navbar ul li a {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    padding: 12px;
    text-decoration: none;
    color: #4A4947;
    margin: 0px 4px;
}

#navbar ul li a:hover {
    text-decoration: underline;
    border-radius: 10px 10px;
    border: solid;
    border-color: #4A4947;
}

#navbar .logo {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    align-items: center;
    font-weight: bold;
    font-size: larger;
    margin: 0px 16px;
    padding: 15px;
    color: #4A4947;
}
/* Nav bar */

/* Showcase */
#showcase {
    background: #333 url("../img/rdr2_camp.jpg") no-repeat center center/cover;
    height: 100vh;
    color: #FAF7F0;
}

.showcase-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    height: 100%;
    padding: 2rem;
    justify-content: center;
        }
.l-heading {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1;
        }

.lead{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.btn{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    display: inline-block;
    color: #4A4947;
    background-color: #D8D2C2;
    padding: 1rem 2rem;
    border: none;
    border-radius: 15px;
    text-decoration: none;
}

.btn:hover{
    border-color: #4A4947;
    border: solid;
}
/* Showcase */

/* Section 2 */

.bg-dark {
    background-color: #D8D2C2;
}
#nastroje .items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#nastroje .item {
    position: relative;
    background-color: #D8D2C2;
    padding: 0.3rem;
    margin-bottom: 2rem;
}

#nastroje .item:hover .overlay {
    width: 100%;
    background-color:#4A4947;
    border-radius: 5px;
}


#nastroje .image {
    width: 400px;
    height: 200px;
    border: #4A4947 solid;
    border-radius: 5px;
}

#nastroje .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--primary-color);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
    opacity: 75%;
}

#nastroje .text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* Section 2 */

/* Footer */
#footer {
    padding: 1.5rem 0;
    display: flex;
    justify-content: center;
    color: #4A4947;
}

#footer .text-center span{
    margin: 0.5rem;
}